{{- $media := . -}}
{{- if eq $media.type "youtube" -}}
  {{- with $media.id -}}
    {{- $title := $media.title | default "Adventures video" -}}
    <a class="alpine-cv-media-icon alpine-cv-media-icon-youtube" href="https://www.youtube.com/watch?v={{ . }}" target="_blank" rel="noopener" aria-label="Watch {{ $title }} on YouTube" title="Watch {{ $title }} on YouTube">
      <i class="fab fa-youtube" aria-hidden="true"></i>
    </a>
  {{- else -}}
    {{- with $media.url -}}
      <p class="alpine-cv-media-link"><a href="{{ . | safeURL }}" target="_blank" rel="noopener">{{ $media.title | default "Video" }}</a></p>
    {{- end -}}
  {{- end -}}
{{- else if eq $media.type "instagram" -}}
  {{- with $media.id -}}
    {{- $title := $media.title | default "Instagram post" -}}
    <a class="alpine-cv-media-icon alpine-cv-media-icon-instagram" href="https://www.instagram.com/p/{{ . }}/" target="_blank" rel="noopener" aria-label="Open {{ $title }} on Instagram" title="Open {{ $title }} on Instagram">
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </a>
  {{- end -}}
{{- else -}}
  {{- with $media.url -}}
    <p class="alpine-cv-media-link"><a href="{{ . | safeURL }}" target="_blank" rel="noopener">{{ $media.title | default "Media" }}</a></p>
  {{- end -}}
{{- end -}}
