{{ $button := .button | default "view" }}
{{ $data_icon := "mark-github" }}
{{ $aria_label := "" }}
{{ $button_text := "" }}
{{ $href := "" }}

{{ if eq $button "follow" }}
  {{ $href = printf "%s" .user }}
  {{ $aria_label = printf "Follow @%s on GitHub" .user }}
  {{ $button_text = printf "Follow @%s" .user }}
{{ else if eq $button "sponsor" }}
  {{ $href = printf "sponsors/%s" .user }}
  {{ $data_icon = "heart" }}
  {{ $aria_label = printf "Sponsor @%s on GitHub" .user }}
  {{ $button_text = "Sponsor" }}
{{ else if eq $button "watch" }}
  {{ $href = printf "%s/%s/subscription" .user .repo }}
  {{ $data_icon = "eye" }}
  {{ $aria_label = printf "Watch %s/%s on GitHub" .user .repo }}
  {{ $button_text = "Watch" }}
{{ else if eq $button "star" }}
  {{ $href = printf "%s/%s/" .user .repo }}
  {{ $data_icon = "star" }}
  {{ $aria_label = printf "Star %s/%s on GitHub" .user .repo }}
  {{ $button_text = "Star" }}
{{ else if eq $button "fork" }}
  {{ $href = printf "%s/%s/fork" .user .repo }}
  {{ $data_icon = "repo-forked" }}
  {{ $aria_label = printf "Fork %s/%s on GitHub" .user .repo }}
  {{ $button_text = "Fork" }}
{{ else if eq $button "template" }}
  {{ $href = printf "%s/%s/generate" .user .repo }}
  {{ $data_icon = "repo-template" }}
  {{ $aria_label = printf "Use this template %s/%s on GitHub" .user .repo }}
  {{ $button_text = "Use this template" }}
{{ else if eq $button "issue" }}
  {{ $href = printf "%s/%s/issues" .user .repo }}
  {{ $data_icon = "issue-opened" }}
  {{ $aria_label = printf "Issue %s/%s on GitHub" .user .repo }}
  {{ $button_text = "Issue" }}
{{ else if eq $button "download" }}
  {{ $branch := .branch | default "master" }}
  {{ $href = printf "%s/%s/archive/%s.zip" .user .repo $branch }}
  {{ $data_icon = "download" }}
  {{ $aria_label = printf "Download %s/%s on GitHub" .user .repo }}
  {{ $button_text = "Download" }}
{{ else if eq $button "view" }}
  {{ $href = printf "%s/%s" .user .repo }}
  {{ $data_icon = "mark-github" }}
  {{ $aria_label = printf "View %s/%s on GitHub" .user .repo }}
  {{ $button_text = .repo }}
{{ end }}

{{ with .text }}{{ $button_text = . }}{{ end }}
{{ with .icon }}{{ $data_icon = . }}{{ end }}
{{ with .aria_label }}{{ $aria_label = . }}{{ end }}
{{ $star_count := .star_count | default "..." }}

{{ if eq $button "star" }}
<a
  class="github-star-fallback"
  href="https://github.com/{{ .user }}/{{ .repo }}/"
  target="_blank"
  rel="noopener"
  data-github-star-fallback
  data-github-user="{{ .user }}"
  data-github-repo="{{ .repo }}"
  aria-label="{{ $aria_label }}"
>
  <span class="github-star-label"><i class="far fa-star" aria-hidden="true"></i>{{ $button_text }}</span>
  <span class="github-star-count" data-github-star-count>{{ $star_count }}</span>
</a>
{{ else }}
<a
  class="github-button"
  href="https://github.com/{{ $href }}"
  data-icon="octicon-{{ $data_icon }}"
  aria-label="{{ $aria_label }}"
  {{ with .count }}data-show-count="{{ . }}"{{ end }}
  {{ if eq "true" (printf "%v" .dark) }}data-color-scheme="no-preference: dark; light: dark; dark: dark;"{{ end }}
  {{ if eq "true" (printf "%v" .large) }}data-size="large"{{ end }}
>{{ $button_text }}</a>
{{ end }}
